/currency/nbproject/private/
/currency/build/
/console/currency/nbproject/private/
/countFolder/nbproject/private/
/countFolder/build/
/ContactEditor/build/
/ContactEditor/dist/
/ContactEditor/nbproject/private/
/calc/nbproject/private/
/calc/build/
/book/nbproject/private/
/book/build/
/countWordsInBook/build/
/countWordsInBook/nbproject/private/
/222/Currency/build/
/222/Currency/dist/
/222/Currency/nbproject/private/
/Currency/build/
/Currency/dist/
/Currency/nbproject/private/
/ExchangeCurrencyPrivatBank/build/
/ExchangeCurrencyPrivatBank/dist/
/ExchangeCurrencyPrivatBank/nbproject/private/
/downloaderSwing/build/
/downloaderSwing/dist/
/downloaderSwing/nbproject/private/
/fuel/nbproject/private/
/fuel/build/
/Exchangerate2/nbproject/private/
/Exchangerate2/build/
/Exchangerate/nbproject/private/
/ExchangeratePrivatBank/nbproject/private/
/MyCollection/nbproject/private/
/MVCList/build/
/MVCList/nbproject/private/
/Matches2/nbproject/private/
/matches/nbproject/private/
/matches/build/
/Matches2/build/
/JavaOI/build/
/JavaOI/nbproject/private/
/WebContacts/nbproject/private/
/webApp/WebContacts/nbproject/private/
/Viewer/build/
/Viewer/dist/
/Viewer/nbproject/private/
/Type/nbproject/private/
/Type/build/
/systemOut/build/
/systemOut/nbproject/private/
/Socket/build/
/Socket/nbproject/private/
/recursy/build/
/recursy/nbproject/private/
/recursyFibonacci/build/
/recursyFibonacci/nbproject/private/
/PhoneBookGUI/nbproject/private/
/number/nbproject/private/
/number/build/
/guessNumber/build/
/guessNumber/nbproject/private/
/FilesBucket/nbproject/private/
/FilesBucket/build/
/WebSite/nbproject/private/
/WebSite/build/
/webMathMVC2/build/
/webMathMVC2/nbproject/private/
/webApp/webMathMVC2/build/
/webApp/webMathMVC2/nbproject/private/